Repository dumbledore0127/expo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write ./, eslint ./

chore: 🤖 update format scripts
  package.json
Due: none

docs: ✏️ update README
  README.md
Due: none

feat: 🎸 set splash screen
  app.json
  assets/splash.png
Due: none

feat: 🎸 prettier ignore png
  .prettierignore
Due: none

refactor: 💡 move assets to src folder
  app.json
  src/assets/adaptive-icon.png
  src/assets/favicon.png
  src/assets/icon.png
  src/assets/splash.png
Due: prettier --write ./

feat: 🎸 change target of lint-staged
  .lintstagedrc.yml
Due: none

refactor: 💡 refactor app.json
  app.json
Due: none

chore: 🤖 prettier ignore .prettierignore and yarn.lock
  .prettierignore
Due: none

feat: 🎸 introduce react navigation
  package.json
  src/App.tsx
  src/navigators/HomeScreen.tsx
  src/navigators/index.tsx
  yarn.lock
Due: prettier --write ./, eslint ./

refactor: 💡 rename AppRoutes to AppNavigators
  src/App.tsx
  src/navigators/index.tsx
Due: prettier --write ./, eslint ./

refactor: 💡 react component
  src/navigators/HomeScreen.tsx
  src/navigators/index.tsx
Due: prettier --write ./, eslint ./

refactor: 💡 specify the type of react component
  src/App.tsx
  src/navigators/HomeScreen.tsx
  src/navigators/index.tsx
Due: prettier --write ./, eslint ./

chore: 🤖 pin node & yarn version
  package.json
Due: none

chore: 🤖 introduce git-cz
  package.json
  yarn.lock
Due: none

fix: 🐛 husky log
  .husky/common.sh
  .husky/pre-commit
  .prettierignore
Due: none

feat: 🎸 add login screen
  src/features/auth/index.ts
  src/features/auth/navigators/LoginScreen.tsx
  src/features/auth/navigators/index.tsx
  src/navigators/HomeScreen.tsx
  src/navigators/index.tsx
Due: prettier --write ./, eslint ./

feat: 🎸 add user screen
  src/features/auth/navigators/LoginScreen.tsx
  src/features/auth/navigators/index.tsx
  src/features/user/index.ts
  src/features/user/navigators/UserScreen.tsx
  src/features/user/navigators/index.tsx
  src/navigators/index.tsx
Due: prettier --write ./, eslint ./

refactor: 💡 rename navigators name to singular form
  src/App.tsx
  src/features/auth/navigators/LoginScreen.tsx
  src/features/auth/navigators/index.tsx
  src/features/user/navigators/index.tsx
  src/navigators/index.tsx
Due: prettier --write ./, eslint ./

style: 💄 add path alias setting
  babel.config.js
  package.json
  src/features/auth/navigators/index.tsx
  src/navigators/index.tsx
  tsconfig.json
  yarn.lock
Due: prettier --write ./, eslint ./

feat: 🎸 add AppStyleProvider.ts
  src/features/auth/navigators/LoginScreen.tsx
  src/features/user/navigators/UserScreen.tsx
  src/providers/AppStyleProvider.tsx
Due: prettier --write ./, eslint ./

refactor: 💡 AppStylesProvider.tsx
  src/App.tsx
  src/features/auth/navigators/LoginScreen.tsx
  src/features/user/navigators/UserScreen.tsx
  src/providers/AppStylesProvider.tsx
Due: prettier --write ./, eslint ./

refactor: 💡 add barrel at providers folder
  src/App.tsx
  src/features/auth/navigators/LoginScreen.tsx
  src/features/user/navigators/UserScreen.tsx
  src/providers/index.ts
Due: prettier --write ./, eslint ./

Path conditions:
  prettier --write ./: any of: src/**
  eslint ./: any of: src/**/*.{js,jsx,ts,tsx}
